.container{
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error{
    color:red;
    font-size: 12px;
    margin:0;
    padding-left:30px;
}

.myFrom{
    display:flex;
    border-radius: .3rem;
    flex-direction: column;
    width:70%;
    padding:10px 0px;
}

mat-form-field{
    padding:5px 20px 0px 20px;
}


mat-password-strength-info{
    padding-bottom: 5px;
    width: 90%;
    margin: auto;
}

mat-password-strength{
    width:94%;
    margin: auto;
}

button{
    padding:5px 20px 0px 20px;
    margin: 0px 20px;
    font-size: 1.5rem;
}

.no-account-yet{
    display:flex;
    margin-right: 30px;
    justify-content: flex-end;
}