<div class="container">
  <form class="myFrom">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="JohnDoe123">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Enter your secret password">
   </mat-form-field>
   <button mat-raised-button color="primary">Login</button>
   <p class="no-account-yet"><a routerLink="/register">No Account yet?</a></p>
  </form>
</div>
